<div style="text-align:center">
  <h1>
    Welcome to the gAI Toaster!
  </h1>
  <img width="300" alt="Toast" src="assets/images/toast.jpg">
</div>

<h3>About a real toaster</h3>
<p>A toaster operates on an unknown approximately linear function of time. When you get a new toaster, chances are you dont hit your perfect toast on the first try, you learn this hidden function.
</p>
<h3>Lets make some toast</h3>
<p>Ok, you are at my house for breakfast, you are polite and ask to help and I say sure, how about you make toast. You like your toast <strong>H7</strong> and I like mine <strong>B4</strong>. How many seconds should toast?</p>

<ul>
  <li><label>My toast time:</label>
    <input type="number" id="myToast"/></li>
    <li><label>Your toast time:</label>
      <input type="number" id="yourToast"/></li>
</ul>
<button (click)="toastClick()">TOAST!</button>
<app-manifold></app-manifold>